.aboutSection {
  padding: 8rem 4rem;
  box-shadow: 0px 0 100px 100px #000000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  overflow: hidden;

  h1 {
    font-size: 3rem;

    span {
      background: linear-gradient(to Right, #8f17ff 40%, #22d3ee);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;
  height: 100%;
}

.colLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 50px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .cards1 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
  }
}

.cardLeft {
      border: 1px solid #ffffff33;
      padding: 2rem 2rem;
      width: 100%;
      border-radius: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        color: #22d3ee;
        letter-spacing: 2px;
        font-size: 36px;
      }

      span {
        letter-spacing: 2px;
        color: #a3a3a3;
      }
    }

.colRight {
  width: 50%;
  height: 100%;

  .cardsRight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 20px;
    height: 100%;

    .cardRight {
      border: 1px solid #ffffff33;
      padding: 2rem 2rem;
      width: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: 100%;
      transition: 0.5s ease;
      /* animation: glow 5s infinite; */

      &:hover {
         box-shadow: 0 0 30px -5px #ffffff30;
        /* background-color: #20202057; */

        .cardTitle{
          color: #8f17ff;
        }
      }

      .icon {
        background-color: #4f00997a;
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        svg {
          font-size: 24px;
        }
      }

      p {
        font-size: 16px;
      }
    }
  }
}

.infoCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardTitle {
  font-size: 25px;
  transition: .5s ease;
}


