.contactContainer{
    padding: 50px 64px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    
    h1{
    font-size: 3rem;
    }

    span {
      background: linear-gradient(to Right, #8f17ff 40%, #22d3ee);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p{
        color: #dadada;
        font-size: 1.3rem;
    }
  }

  .contactContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 50px;
    height: 100%;

    .colLeft{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        height: 100%;
    }

    .more{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;    
      gap: 20px;
      border: 1px solid rgba(255, 255, 255, 0.212);
      padding: 40px;
      border-radius: 10px;

      .socialList{
        display: flex;
        align-items: center;
        gap: 20px;

        a{
          font-size: 30px;
          color: #fff;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transition: .5s ease;
          }

          .linkedin:hover{
              background-color: #4130df;
          }

          .github:hover{
              background-color: #050035;
          }

          .ig:hover{
              background: linear-gradient(#FFD600, #FF7A00, #FF0069, #D300C5, #7638FA);
          }
        }
    }

    .infoContact{
      display: flex;
      flex-direction: column;
      gap: 20px;

      p{
        color: #9d9d9d90;
        line-height: 1.2rem;
        font-size: 20px;
      }
    }

    .cardsCont{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px;
    }

    .card{
        position: relative;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 30px;
        text-decoration: none;
        font-size: 20px;
        background-color: #29292967;
        padding: 20px 32px;
        border-radius: 10px;
        border-right: 5px solid #8f17ff;
        height: 100px;

        .iconArea{
          background-color: #8f17ff59;
          padding: 10px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .icon{
          font-size: 30px;
        }

        .cardText{
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 20px;

          p{
            color: rgba(241, 241, 241, 0.477);
            font-size: 16px;
          }
        }

          .whats{
            padding: 5px;
            background-color: rgb(0, 255, 34);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            right: 20px;
            top: 20px;
          }
    }

 

  .whatsCard{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.212)  ;
    padding: 40px;
    height: 188px;
    border-radius: 10px;
  }

    .form{
      border: 1px solid rgba(255, 255, 255, 0.212);
      height: 100%;
      width: 80%;
      border-radius: 10px;
      padding: 34px;

      form{
        display: flex;
        flex-direction: column;
        gap: 30px;

        .inputArea{
          display: flex;
          flex-direction: column;
          gap: 30px;

          .inputContent{
            display: flex;
            flex-direction: column;
            gap: 10px;

            .input{
              padding: 10px;
              width: 100%;
              height: auto;
              border: 1px solid rgba(255, 255, 255, 0.212);
              background-color: rgba(0, 0, 0, 0.548);
              border-radius: 10px;
              outline: none;
              transition: .5s;


              &:focus-within{
                border-color: #fff;
              }

              input{
                background-color: transparent;
                height: 100%;
                width: 100%;
                outline: none;
                border: none;
                color: #fff;
              }
            }

             .textArea{
              padding: 10px;
              width: 100%;
              height: auto;
              border: 0.5px solid rgba(255, 255, 255, 0.212);
              background-color: rgba(0, 0, 0, 0.548);
              border-radius: 10px;
              outline: none;
              transition: .5s;

              &:focus-within{
                border-color: #fff;
              }

               textarea{
                outline: none;
                border: none;
                color: #fff;
                background-color: transparent;
                width: 100%;
                height: 100%;
              }
          }
          }
        }
        .buttonArea{
          button{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #8f17ff;
            width: 100%;
            padding: 10px 0;
            border: none;
            border-radius: 10px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            transition: .5s ease;


            &:hover{
                box-shadow: 0 0 30px #6301bf;
            }
          }
        }
      }
    }
  }
}