.projetosSection{
    padding: 100px 64px;
    position: relative;
    flex-direction: column;
    display: flex;
    gap: 100px;
    overflow: hidden;

   .sectionTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    
    h1{
    font-size: 3rem;
    text-align: center;
    }

    span {
      background: linear-gradient(to Right, #8f17ff 40%, #22d3ee);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p{
        color: #dadada;
        text-align: center;
        font-size: 1.3rem;
    }
  }

  .projetosContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 100px;
  }

  .projeto{
      display: flex;
      gap: 50px;
  }

  .projetoInvert{
      display: flex;
      gap: 50px;
      flex-direction: row-reverse;
    }

      .projetoImage{
        img{
          width: 700px;
          height: 400px;
        border-radius: 8px;
        object-fit: cover;
        }
      }

      .infoProjeto{
        display: flex;
        flex-direction: column;
        gap: 40px;

        h2{
          font-size: 40px;
        }

        .skillsProjeto{
          display: flex;
          align-items: center;
          gap: 5px;

          .skill{
            font-size: 30px;
            padding: 0px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
          }
        }

        .buttonArea{
          display: flex;
          gap: 50px;

          a{
            text-decoration: none;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }
          
          .demoButton{
            padding: 10px 25px;
            background: #8f17ff;
            border-radius: 8px;
            font-weight: 600;
            transition: 0.3s ease-in-out;

            &:hover{
              background: #8f17ffcc;
            }
          }

          .moreButton{
            padding: 10px 25px;
            background: #22d3ee;
            border-radius: 8px;
            font-weight: 600;
            transition: 0.3s ease-in-out;

            &:hover{
              background: #22d3eecc;
            }
          }
        }

        p{
          color: #c0c0c0;
          font-size: 1.2rem;
          line-height: 1.2;
          letter-spacing: 1px;
        }
      }
    }
