.servicesSection{
    padding: 100px 64px;
    position: relative;
    flex-direction: column;
    display: flex;
    gap: 100px;
    overflow: hidden;
    .bgCont{
    position: absolute;
    z-index: -10;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);

    .bg{
        width: 500px;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
          .blur{
    height: 0;
    width: 30rem;
    top: 80%;
    right: 20%;
    z-index: -100;
    transform: translate(50%, -50%);
    position: absolute;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
}
}

   .sectionTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    
    h1{
    font-size: 3rem;
    text-align: center;
    }

    span {
      background: linear-gradient(to Right, #8f17ff 40%, #22d3ee);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p{
        color: #dadada;
        text-align: center;
        font-size: 1.3rem;
    }
  }
}

.servicesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    place-items: center;

    .cardService{
        background-color: #000000;
        padding: 40px 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        border: 1px solid rgba(255, 255, 255, 0.212);
        transition: .5s ease;
        cursor: pointer;

        &:hover{
            .serviceTitle{
                color: #8f17ff;
            }

            transform: scale(1.05);
            box-shadow: 0 0 30px #ffffff30;
        }

        .headerService{
            display: flex;
            gap: 30px;
            align-items: center;
        }

        .iconArea{
            width: 70px;
            height: 70px;
            border-radius: 10px;
            background: #4f00997a;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .5s ease
        }

        .info{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .serviceTitle{
            font-size: 1.8rem;
            font-weight: 600;
            color: #fff;
            transition: .5s ease;
        }

        .description{
            color: #c0c0c0;
            line-height: 1.5;
            font-size: 1.1rem;
        }

        .list{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .services{
                display: flex;
                align-items: center;
                gap: 15px;
                p{
                    font-size: 1.1rem;
                }
            }

            .mark{
                width: 10px;
                height: 10px;
                background:  #22d3ee;
                border-radius: 50%;
            }
        }


    }
}

.callMe{
    display: flex;
    align-items: center;
    justify-content: center;

    .callMeContent{
        /* box-shadow: 0 0 30px -10px #ffffff5c; */
        background-color: #080808;
            padding: 50px;
            border: 0.5px solid rgba(255, 255, 255, 0.212);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 30px;
    }

    .textCall{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;

        p{
            font-size: 18px;
            color: rgba(227, 227, 227, 0.858);
        }
    }

    .btnCont{
        display: flex;
        align-items: center;
        justify-content: center;

        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #8f17ff;
            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            width: 50%;
            padding: 15px 0;
            transition: .5s ease;

            &:hover{
                box-shadow: 0 0 20px #6301bf;
            }
        }
    }
}