.darkveil-canvas {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  transform: rotate(180deg);
  display: block;
  position: relative;
  z-index: -10;
  animation: show 8s ease;
}

@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
