:root {
  --color-background: #000000;
  --color-bg-subtle: #0c0c0c;
  --color-highlight-main: #8f17ff;
  --color-highlight-secondary: #22d3ee;
  --color-text-light: #ffffff;
  --color-text-subtle: #999999;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #0c0c0c;
  justify-content: center;
  width: 100%;
  /* border-top: 1px solid rgba(143, 23, 255, 0.3); */
}

.topContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  padding: 60px 80px;
}

.col1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 15px;
    h1 {
      color: var(--color-highlight-main); 
      font-size: 24px; 
    }
  }

  p {
    color: var(--color-text-subtle);
    line-height: 1.6;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 25px;
  }

  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .5s ease;
    color: var(--color-text-light);
  }

  .whatsaap:hover{
        background-color: #25d366;
    }

    .github:hover{
        background-color: #171515;
    }

    .linkedin:hover{
        background-color: #4130df;
    }
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  text-align: center;
  margin-top: 12px;

  h1{
    font-size: 24px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    li {
      list-style: none;

      a {
        color: #999999;
        text-decoration: none;
        transition: 0.5s ease;
        font-size: 16px;
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}

.col3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 12px;

  h1{
    font-size: 24px;
  }

  ul {
    display: flex;
    flex-direction: column;
    color: #999999;
    gap: 10px;
    transition: 0.5s ease;

    svg {
      font-size: 20px;
    }

    li {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;

      svg {
        transition: 0.5s ease;
      }

      &:hover {
        svg {
          color: #fff;
        }
        a {
          color: #fff;
        }
      }

      a {
        color: #999999;
        font-size: 16px;
        text-decoration: none;
        transition: 0.5s;
      }
    }
  }
}


.col4{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 20px;

    h1{
        font-size: 24px;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;

        li{
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
        }

        svg{
            font-size: 20px;
        }

        a{
            font-size: 16px;
            color: #999999;
            text-decoration: none;
            transition: .5s ease;

            &:hover{
                color: #fff;
            }
        }
    }
}

.bottomContent {
  border-top: 1px solid #99999967;
  color: #999999;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
