* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

html{
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background-color: black;
  color: #fff;
  cursor: none;
}

.cursor {
  pointer-events: none;
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);

  img{
    transform: rotate(270deg);
    width: 100%;
    height: 100%;
  };
}
